<!-- @content -->
%rows%

<!-- @rows -->
<div>
        <a href="%link_big_image%" class="fancybox"><img src="%link_small_image%" title="%title_image%" alt="%title_image%"/></a>
        <br/>%title_image%
        <br/>%description%
</div>

<!-- @no_data -->
<p>Галерея пуста</p>




