<!-- @categories_content -->
%rows%
<!-- @categories_rows -->
<div class="category-rows">
    <a href="%link%"><img src="%small_image%"  alt="%name%" /></a>
    <br/>%name%
</div>

<!-- @back2cats_link -->
<a href="%link%">&larr; Вернуться к списку категорий</a>

<!-- @category_name -->
<h2>%category_name%</h2>

<!-- @content -->
%back2cats_link%
%category_name%
%rows%
%pages%

<!-- @rows -->
<div>
    <a href="%link_big_image%" class="fancybox"><img src="%link_small_image%" title="%title_image%" alt="%title_image%"/></a>
    <br/>%title_image%
    <br/>%description%
</div>

<!-- @no_data -->
<p>Галерея пуста</p>

<!-- @pages -->
<p class="paginator">
    %first%
    %backward%
    %previous%
    %pages_block%
    %next%
    %forward%
    %last%
</p>

<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->