<!--
Шаблон карточки товаров

Содержит секции и переменные, которые могут быть использованы:

@item - Основной блок, которым замещается метка в шаблоне, при переходе к карточки товара.
@cat_way_block 	- Определяет внешний вид «Дороги» товара
@cat_way_separator 	- Определяет внешний разделителя в «дороге» товара
@cat_way_active - Определяет внешний активного элемента «дороги» товара, т.е той категории в которой находится данный товар
@cat_way_passive - 	Определяет внешний не активного элемента «дороги» товара, т.е. родительских категорий
cat_link - Заменяется ссылкой для перехода к конкретной странице в «дороге»
cat_name - Заменяется названием конкретной страницы в «дороге»
Блоки типа @property 	property_value	- 	Определяет внешний вид свойства property товара
Блоки типа @property_null 	-	- 	Определяет, что будет выводиться вместо свойства property товара, если оно не заполнено в базе
Переменная типа property_value - Выводит значение свойства property товара
%image_small%	-	Определяет вывод маленькой картинки, если поле с ID 'image' является изображением
%image_value%	-	Определяет вывод средней картинки, если поле с ID 'image' является изображением
%image_source%	-	Определяет вывод большой картинки, если поле с ID 'image' является изображением

 -->

<!-- ****************************************** Шаблон карточки товаров ****************************************** -->

<!-- @item -->
			<p class="title">%name_value%</p>
			<p><img class="left" src="%image_source%" alt="%name_value%" /> %description_value%</p>
			<p>Цена: %price_value% руб.</p>
            [#recomendation#]